# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory
coverage/

# Uploads (optionnel, selon vos besoins)
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db